.events {
    width: 100vw;

    display: flex !important;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}

.events-slider {
    margin-top: 60px;
    margin-left: 20%;
    overflow: hidden;
}

.events-slider_slide {
    position: relative;
    display: unset !important;
}

.events .header-row {
    position: relative;
    margin-left: 20%;
}

.events .header-row h4 {
    margin: 0;

    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: left;
    color: #000000;
}

.events .item {
    position: relative;
    height: 340px;
    width: 550px;
    min-height: 340px;

    margin: 10px;
    padding: 0 20px 0 220px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border-bottom: 2px solid transparent;
    border-image: 1 linear-gradient(90deg, rgba(213,171,113, .6) 20%, rgba(213,171,113, .6) 40%, rgba(213,171,113, 0) 40%, rgba(213,171,113, 0) 80%, rgba(213,171,113, .6) 80%, rgba(213,171,113, .6) 100% );
    outline-offset: -25px;

    box-sizing: border-box;
}

.events .title {
    position: relative;

    margin-top: 20px;
    margin-left: 20px;

    color: #d5ab71;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;

    z-index: 2;
}

.events .title:before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 30px;
    border-bottom: 2px solid #d5ab71;
}

.events .big-title {
    font-family: Prata;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
}

.events .caption {
    font-family: PT Sans Caption;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
}

.events .caption::first-letter {
    font-family: Prata;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.1px;
    text-align: left;
    color: #d5ab71;
    float: left;
    margin: 0px 4px -11px 0;
}

.events .img-wrp {
    position: absolute;
    top: -10px;
    left: 0;

    max-width: 200px;
    overflow: hidden;
    z-index: 10;

    animation: animate-img 5s ease-in;
}

.events .img-wrp img {
    height: 360px;
}

@keyframes animate-img {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.events .item .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgba(213,171,113, .6);
    border-left: 2px solid rgba(213,171,113, .6);
    border-right: 2px solid rgba(213,171,113, .6);
    z-index: 11;
}

.events .item .details-btn {
    z-index: 11;
}

.events .slick-slide {
    margin-right: 50px;
}

.events .slider-prev, .events .slider-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 40px !important;
    height: 40px !important;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(213, 171, 113);
    z-index: 100;
    cursor: pointer;
}

.events .slider-prev:hover, .events .slider-next:hover {
    color: #000;
    background-color: rgb(213, 171, 113);
    border-radius: 50%;
    transition: 0.2s;
}

.events .slider-next {
    right: 150px;
}

.events .slider-prev {
    right: 230px;
}

.events .slider-next:before {
    content: ">";
    color: inherit;
}

.events .slider-prev:before {
    content: "<";
    color: inherit;
}
