.navigation-menu {
    position: fixed;
    width: 100%;
    padding: 5px 0;

    display: flex;

    background-color: #000;
    z-index: 10;
}

.navigation-menu__inner-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 150px;
}

.navigation-menu ul {
    display: flex;
    gap: 40px;

    list-style: none;
}

.navigation-menu li {
    display: flex;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
}

.navigation-menu li > a {
    color: #fff;
    text-decoration: none !important;
    transition: 0.2s;
}

.navigation-menu li > a:hover {
    color: #d5ab71;
    text-decoration: none !important;
}

.navigation-menu.white {
    background-color: #fff;

    border-bottom: 1px solid rgb(0,0,0, 0.07);
}

.navigation-menu.white li > a {
    color: #000;
}
