.video-slider {
    position: relative;
    height: 100vh;

    overflow-x: hidden;
}

.video-slider video {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.video-slider .borders {
    width: 67%;
    height: 67%;
    margin: 2rem auto;
    padding: 2em;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(213,171,113, .6) 100%, rgba(213,171,113, .6) 100%), linear-gradient(to bottom, rgba(213,171,113, .6) 100%, rgba(213,171,113, .6) 100%), linear-gradient(to right, transparent 30%, rgba(213,171,113, .6) 30%), linear-gradient(to bottom, rgba(213,171,113, .6) 10%, transparent 10%);
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    animation: bg 1.5s cubic-bezier(1, 1, 1, 1) 1;
    animation-play-state: running;
    position: absolute;
    top: 9%;
    left: 28%;
    z-index: 50;
}

.video-slider .blackout {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.video-slider .title {
    position: absolute;
    top: 21%;
    left: 23%;

    color: #d5ab71;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;

    z-index: 2;
}

.video-slider .title:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -55px;
    width: 30px;
    border-bottom: 2px solid #d5ab71;
}

.video-slider .title:after {
    content: '';
    position: absolute;
    top: 0;
    right: -120px;
    width: 80px;
    border-bottom: 1px solid #d5ab71;
}

.video-slider .big-title {
    position: absolute;
    top: 24%;
    left: 20%;
    width: 40%;

    margin: 0;

    font-size: 60px;
    font-weight: normal;
    letter-spacing: 3px;
    line-height: 1.07;
    color: white;

    z-index: 100;
}

.video-slider .caption {
    position: absolute;
    top: 40%;
    left: 20%;

    width: 40%;

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #fff;
    text-align: left;

    z-index: 100;
}

.video-slider .caption:first-letter {
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.1px;
    text-align: left;
    color: #d5ab71;

    float: left;
    margin: 0 4px -11px 0;
}
